{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}

<h1>Welcome</h1>

<p>REScode is an open source catalog of software projects by and for European Energy Communities.</p>

<h2>Contributing</h2>
<p>
    Are you developing software for REScoops or Energy Communities? Then you can add your project to REScode. Visit the <a href="https://gitlab.com/rescoopvpp/rescode">contribute page</a> to learn how.
</p>

{% endblock content %}
