{% extends "index.html" %}
{% block title %}{{ SITENAME }} - {{ tag }}{% endblock %}
{% block content %}
<h3>
    
	<i class="icon-tag icon-large"></i>
    {{ tag }}
</h3>
<ul>
    {% for article in articles %}
    <a href="/{{article.slug}}"><li>{{ article.title }}</li></a>
    {% endfor %}
</ul>
{% endblock %}
